
.navbar {
     display: block!important;
     padding: 0px!important;
     background-color:#f5f5f5;
}

.navbar > ul {
    display: block!important;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#f5f5f5;
    margin-right: 10%;
    margin-left: 10%;  
}
.nav > li {
    float : left;
}
.nav > li a {
    display: inline-block;
    color:#4a4a4a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color:#e8e8e8;
}
a {
    cursor: pointer;
}
.navbar-band {
    margin: 10px 10% 0 10%;
    padding: 15px;
}
.navbar-band > * {
    float: left;
}
.navbar-band > input {
    margin-top: 10px; 
    margin-left: 5%; 
    width: 50%;
    border: 1px solid #4EBAEA;
    padding: 10px
}
.navbar-band > img{
    width: 150px;
    height: auto;
}

.dropdown{
    display: block;
    width: 50px;
    list-style: none;
    z-index: 1040;
    width: 150px;
    position: fixed;
}
.dropdown a {
    display: block;
    color: #000;
    text-decoration: none;
}

.dropdown a:hover {
    width: 150px;
    background-color:#f5f5f5;
}

.total {
    background: #d63535;
    color: white;
    border-radius: 5px;
    margin: 5px; 
    padding: 0px 10px 0px 10px;
}
  .m-content {
    display: none;
    position: fixed;
    z-index: 1040;
    right: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    width: 350px;
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    font-family: 'kanit';
  }
  
  .m-header {
    margin-top: 0;
    color: #4EBAEA;
    border-bottom: 1px solid lightgrey; 
    height: 5%;
  }
  
  
  .m-footer {
    text-align: right;
    padding: 10px;
    border-top: 2px solid #f5f5f5;
    position: fixed;
    bottom: 0;
    height: 22%;
  }
  .m-body {
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;
      height: 73%;
  }
  .block-data {
      margin-top: 10px; 
      display: block;
      border: 1px solid black;
      border-radius: 10px;
      padding: 10px
  }
  input{
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 80%;
    padding: 5px;
  }
  .p_name{
      overflow: hidden !important;
      vertical-align: middle;
  }
  .p_total-text{
      vertical-align: middle;
  }
  .twoline{
      margin-top:5px;
  }
  
  .figure {
      display: block;
      width: 100%;
      height: auto;
      max-height: 80px;
  }
  .figure > img {
    width: 100%;
    height: 100%;
  }