
.banner-flashsale{
    display: block;
    text-align: center;
    margin-top:0px;
    margin-bottom:0px;
}
.banner-flashsale > img {
    width: 65%;
    height: auto;
}
.text-en{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Kanit'!important;
    font-size:16px;
    color: black;
}
.count_time { 
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 0px;
    font-size: 25px;
}
.count_time>figure{
    display: inline-block;
    height: 40px;
    margin:5px 0px 5px 0px;
    padding: 0px;
}
.count_time>figure:nth-child(odd){
    border: 1px solid #f5f5f5;
    background-color:white;
    width: 20%;
    color:rgb(233, 69, 110);
    font-family: 'kanit'!important;
}
.nav-tabs {
    background: #242a30;
}
.nav-link > span {
    font-size:14px!important;
    color:white;
}
.nav-link.active > span {
    color:#242a30;
}
.nav-link:hover > span {
    color:#242a30;
}
.button_newfs{
    position: absolute;
    right: 0;
    bottom: 0;
}
#default-tab-2 {
    position: relative;
}

.img_select{
    width: 70px;
    height: 70px;
}
table{
    text-align: center;
    
}.table>tbody>tr>td{
    vertical-align: middle;
}
.card-box {
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    width: 200px;
    height: auto;
    margin: 15px;
    transition: .15s all ease-in-out;
    text-align: center;
    cursor: pointer;
  }
  .card-box:hover {
    transform: scale(1.1);
  }
  figure {
      margin: 15px 0px 10px 0px;
  }
  .card-box img {
    height: 120px;
    width: 120px;
  }
  .text-detail {
    font-family: 'Kanit' !important;
    padding: 0px 0px 5px 0px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-detail small {
      height: 20px;
      font-size: 12px;
      padding: 5px;
      overflow: hidden;
    }
p.brand {
    margin :0px;
    font-size: 15px;
}
.selected {
    border:2px solid #242a30; 
}
td > img {
    width: 50px;
    height: 50px;
}
.sub-tab > td {
    border:none;
}
#MN_body > tr > td:nth-child(1) {
    width: 5%;
}
#MN_body > tr > td:not(:nth-child(1)) {
    width: 19%;
}
.fs-box-show{
    display: inline-block;
    width: 140px;
    height: 225px;
    margin: 40px 10px 0px 10px;
    cursor: pointer;
}
.fs-bg-show{
    position: relative;
    border: 1px solid #aca9a94d;
    width: 140px;
    height: 135px;
    margin: 0px;
    padding: 0px;
    background-color:white!important;
}
.fs-bg-show > img:nth-child(1){
    position: absolute;
    top : 0px;
    right: 0px;
    width: 50px;
    z-index: 1040;
    height: auto; 
}
.fs-bg-show > img:nth-child(2){
    position: absolute;
    top : 13%;
    right: 13.5%;
    width: 100px;
    height: 100px;
}
.fs-text-show{
    width: 140px;
    height: 80px;
    margin: 0px;
    padding: 0px;
}
.fs-text-show > p{
    padding: 2px;
    margin: 0px;
    text-align:center;
}
.fs-text-show > p:nth-child(1){
    margin-top:3px;
    color:black;
    font-size: 14px;
    display: block;
    height: 40px;
    overflow: hidden;
}
.fs-text-show > p:nth-child(2){
    margin-top:3px;
    font-size: 12px;
    display: block;
    height: 18px;
    overflow: hidden;
}
.fs-text-show > p:nth-child(3){
    margin-top:2px;
    padding: 0px;
    font-family:'Kanit'!important;
    font-size: 20px;
    color:rgb(233, 69, 110);
}
#now_fs{
    background-image: linear-gradient(to right, #62E6FF,#80DDFF  );
}
#now_fs > div {
    height: 280px;
    padding: 0px;
}
#now_fs > div:nth-child(2){
    text-align: center!important;
    overflow: hidden;
}