td{
    vertical-align: middle!important;
    background-color:white!important; 
}
td > a , td > a:hover{
    color:black;
    cursor: pointer;
}
img {
    cursor: pointer;
}

.modal-img{
    display: none;
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}
.mo-img-content{
    width: 400px;
    margin: 150px auto;
    padding: 15px ;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    font-family: Helvetica, Arial, sans-serif;
}
.mo-img-body{
    padding: 10px;
}
.img-mo{
    width: 100%!important;
}