i,li {
    cursor: pointer;
}
.box-main{
    margin-top: 30px;
}
.head-line{
    margin: 20px;
    border-bottom : 1px solid black;
}
.box-body{
    margin: 40px;
    z-index: 1040px;
}
hr{
    background-color:black!important;
}
img{
    width: 100%;
    height: 100%;
}
.order-img{
    width: 250px;
    height: auto;
    float: right;
}
.product-img{
    padding: 2px;
    width: 100px;
    height: 100px;
    text-align: center;
}
.sub-product{
    margin-top:10px 
}
th,td{
    text-align: center;
}
.table td{
    vertical-align: middle!important;
}
.width-100{
    width: 100px!important;
}
.detail-box{
    margin-top: 15px !important;
    padding: 20px
}
.main-order{
    overflow-y: auto;
}
h4{
    padding: 10px;
}
.table td, .table th {
    border-top: 1px solid white !important;
}