td {
    background-color:white!important;
    vertical-align: middle!important;
    text-align:center!important;
  }
  .nav-items{
      font-size: 16px
  }
  table.dataTable td.focus, table.dataTable th.focus {
    position: relative;
    z-index: 1000;
    outline: #242a30 solid px!important;
}
.row-focus{
    background-color:#ffc!important;
}
a{
    color: #242a30;
}
.green {
    color:green!important;
}
.red {
    color:red!important;
}
.wrap-option {
    display: none;
}
a,i{
    cursor: pointer;
}
.mainimg-modal_show{
    border-radius: 2em;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 20%;
}

div.gallery img {
    width: 100%;
    height: 80px;
    border-style: solid 1px;
    border-color: #242a30;
    border: 1px solid #ccc;
}

div.desc {
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}
.blah{
    border-style: solid 1px;
    border-color: #242a30;
    border: 1px solid #ccc;
}
.input-table{
    width: 100% !important;
}

