.nav-tabs { 
    border: 1px solid transparent!important; 
    background-color: #f5f5f5d2!important; 
}
.tab-header{
    display: block;
    background-color:#242a30;
    margin:0px!important; 
    border-radius: 3px;
}
.tab-header > h3 {
    font-family: 'Times New Roman Georgia'!important;
    color:white;
    padding: 12px;
    margin-bottom: 0px;
}
a > .tabhead {
    font-size:14px!important;
}
.prefix_dis{
    padding: 6px 12px 6px 12px;
}
.tab-pane{
    margin-top:12px; 

}
.BTN-control{
    float: right;
}
button{
    margin: 5px;
}
th,td{
    text-align: center;
}
th {
    background-color:#f5f5f5;
}
.config_cat_btn , .config_pro_btn {
    display: none;
}